# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#folders
.git
.idea
.settings
/asm
/bin
/blueprints
/build
/config
/crash-reports
/eclipse
/imcScripts
/logs
/mods
/resourcepacks
/saves
/screenshots
/scripts
/world
options.txt
eula.txt
minetweaker.log
servers.dat